@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$bg-color-shaft: #747373;
$bg-color-lift:  #e2e2e2;
$bg-color-screen: rgba(31, 115, 148, 0.6);
$bg-color-screen-active: rgba(50, 148, 31, 0.6);
$bg-color-floor: #86b6c9;

$font-size-floor-number: 20px;
$font-size-floor-number-active: 25px;
$font-size-lift-floor-number: 18px;

$color-btn: #e2e2e2;
$color-btn-active: #f7477b;

$border-lift: 6px inset rgb(31, 115, 148);
$border-radius-lift: 10px;
$border-radius-shaft: 5px;

$size-lift: 80px;
$size-arrow: 15px;