@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$margin-floor: 2px;
$shadow-floor: 0px 4px 4px rgba(0, 0, 0, 0.25);
$bg-color-shaft: #988F8F;
$bg-color-lift:  #20B2AA;
$bg-color-screen: #8ffd8b;
$bg-color-floor: #d48225;
$font-size-floor-number: 20px;

$radius: 4px;
$padding: 8px;
$color-head: #000000;
$color-name: #FFFFFF;
$color-text: #988F8F;
$color-text-actors: #E5E5E5;
$color-text-back: rgba(255, 82, 82, 0.98);
$bg-color-head: rgba(250, 40, 40, 0.98);
$bg-color-item: #4D4747;
$bg-color-poster: #C4C4C4;

$shadow-head: 0px 8px 7px rgba(0, 0, 0, 0.28);
$shadow-item-hover: 0px 8px 20px rgba(0, 0, 0, 0.35);

$poster-box-size: 168px;
$margin-btw-items: 24px;

$item-main-text-size: 12px;
$item-title-text-size: 36px;

$checkbox-checked-color: #FF5252;
$checkbox-border-color: #C4C4C4;
$checkbox-active-color: #f78080;
$checkbox-focus-color: #f7808094;

